body {
    font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 50px;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}
